{
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "quote-props": [2, "as-needed"],
    "array-bracket-spacing": [2, "never"],
    "vars-on-top": 0,
    "no-param-reassign": 0,
    "max-len": [
      1,
      110,
      2
    ],
    "comma-dangle": [2, "never"],
    "no-use-before-define": [2, "nofunc"],
    "no-lonely-if": 2,
    "handle-callback-err": 2,
    "no-extra-parens": 2,
    "no-path-concat": 1,
    "func-style": [
      1,
      "declaration"
    ],
    "space-unary-ops": 2,
    "no-mixed-requires": [
      2,
      true
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "no-var": 0,
    "prefer-const": 0,
    "object-curly-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "func-names": 0,
    "id-length": 0,
    
    "strict": 0,
    "valid-jsdoc": 0
  }
}